<% site.posts.sort('-date').forEach(post => { %>
<div class="card">
  <article class="card-content">
    <a href="/<%= post.path %>">
      <h1 class="post-title">
        <%= post.title %>
      </h1>
    </a>
    <div class="card-excerpt">
      <% if(post.excerpt) { %>
      <%= strip_html(post.excerpt) %>
      <% } else { %>
      <%= strip_html(truncate( post.content, { length : 120 })) %>
      <% } %>
    </div>
    <div class="card-post-footer">
      <div class="post-meta">
        <time datetime="<%= date_xml(post.date) _%>"><%= date(post.date) %></time>
        <span class="dot">
          <% if(post.categories.data) { %>
          <a href="<%= post.categories %>"></a>
          <%= post.categories.data.path %>
          <% } %>
        </span>
      </div>
      <a href="<%= url_for(post.path) %>"><%= theme.post.excerpt_link %> </a>
    </div>
  </article>
</div>
<% }); %>