<div class="card card-content about-card">
  <% if(theme.author_img) { %>
  <img src="<%= theme.author_img %>" class="about-card-avatar">
  <% } %>
  <div class="about-card-content">
    <div class="about-card-author"><%= theme.author || config.author %></div>
    <% if(theme.about.description) { %>
      <div class="about-card-dsc"><%= theme.about.description %></div>
    <% } %>
    <div class="about-card-society">
      <% if(theme.about.social_links) { %>
      <% for(const item of theme.about.social_links) { %>
        <div class="about-card-society-icon">
          <a href="<%= item.link %>">
            <i class="iconfont <%= item.icon %> society-icon"></i>
          </a>
        </div>
      <% } %>
      <% } %>
    </div>
  </div>
</div>
<div class="card card-content">
  <%- page.content %>
</div>