<div class="card card-content">
  <h1 class="widget-title"><%- __('archive.title') %></h1>
</div>
<div class="archive-timeline">
  <% let archiveYear = ''; %>
  <% page.posts.sort('date', -1).forEach(post => { %>
  <% if (date(post.date,'YYYY') != archiveYear) { %>
  <div class="archive-timeline-tag"><span><%= date(post.date,'YYYY') %></span></div>
  <% archiveYear = date(post.date,'YYYY'); %>
  <% } %>
  <div class="archive-timeline-item">
    <div class="archive-timeline-post">
      <div class="card card-content">
        <div class="archive-timeline-post-date"><%= date(post.date,'YYYY-MM-DD') %></div>
        <div class="archive-timeline-post-content"><a href="/<%- post.path  %>"
            class="archive-timeline-post-item"><%= post.title %></a></div>
      </div>
    </div>
  </div>
  <% }); %>
</div>
<% if(page.total > 1 ) { %>
<%- partial('_partial/pagination',{ 
    prev_label: __("prev_page.title"), next_label:__("next_page.title"),
    prev_link: page.prev_link, next_link: page.next_link,
    prev_title: null, next_title: null
   })%>
<% } %>