<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- theme.title %></title>
    <%- css('css/main.css') %>
</head>

<body>
    <div class="main">
        <div class="aside">
            <aside><%- include('aside.ejs') %> </aside>
        </div>
        <nav class="navbar">
            <%- include('nav.ejs') %>
        </nav>
        <div class="content">
            <%- body %>
        </div>
    </div>
    <%- js('js/main.js') %>
</body>

</html>