<!DOCTYPE html>
<html>
<meta <% if(config.language) { %> lang="<%- config.language %>" <% } %>>
<%- partial('_partial/head') %>

<body>
  <%# navbar %>
  <%- partial('nav.ejs') %>

  <%# main content %>
  <%- partial('index.ejs') %>

  <%# footer %>
  <%- partial('footer.ejs') %>
  <%- partial('_partial/scrollbutton.ejs') %>

  <%- js('js/main.js') %>
  <%# scroll-up animation %>
  <% if(theme.scrollUpAnimation) { %>
  <%- js('js/scroll-up.js') %>
  <% } %>
  <%- js('js/console.js') %>
</body>

</html>