<!DOCTYPE html>
<html>
<meta <% if(config.language) { %> lang="<%- config.language %>" <% } %>>
<%- partial('_partial/head') %>

<body>
  <%# navbar %>
  <%- partial('_partial/nav.ejs') %>
  <%# main content %>
  <div class="section">
    <div class="container">
      <div class="columns">
        <main class="main-column"><%- body %></main>
        <aside class="left-column">
          <%# author card %>
          <div class="card card-author">
            <%- partial('_partial/author') %>
          </div>
          <%# sticky-tablet %>
          <%- partial('_partial/left-aside') %>
        </aside>
        <aside class="right-column">
          <%- partial('_partial/right-aside') %>
        </aside>
      </div>
    </div>
  </div>
  <%# footer %>
  <%- partial('_partial/footer.ejs') %>
  <%- partial('_partial/scrollbutton.ejs') %>

  <%# plugins %>
  <% if(theme.latex.enable) { %>
  <%- partial('_partial/plugins/latex.ejs') %>
  <% } %>
  <% if(theme.fancyBox.enable) { %>
  <%- partial('_partial/plugins/fancyBox.ejs') %>
  <% } %>
  <%# javascript %>
  <%- js('js/main.js') %>
  <%# dark mode script %>
  <%- js('js/darkmode.js') %>
  <%# console script %>
  <%- js('js/console.js') %>

  <%# scroll-up animation %>
  <% if(theme.scrollUpAnimation) { %>
  <%- js('js/scroll-up.js') %>
  <% } %>
</body>

</html>