<!DOCTYPE html>
<html>
<meta <% if(config.language) { %> lang="<%- config.language %>" <% } %>>
<%- partial('_partial/head') %>

<body>
    <%# main content %> 
    <%- partial('nav.ejs') %>
    <%- body %>

    <%# footer %>
    
    <%- js('js/main.js') %>
</body>

</html>