<div class="card card-content">
  <h1 class="friend-title"><%- __('friends.title') %></h1>
</div>
<div class="card card-content friend-card">
  <ul class="links">
    <% for(const link in theme.links) { %>
      <div class="friend-item">
        <a class="friend-item-card" href="<%= theme.links[link].url %>" target="_blank" rel="nofollow noopener noreferrer" title="<%= link %>">
          <div class="friend-item-content">
            <div class="friend-avatar">
              <img src="<%- theme.links[link].avatar %>" />
            </div>
            <div class="friend-text">
              <div class="friend-name"><%= link %></div>
              <div class="friend-dsc"><%= theme.links[link].description %></div>
            </div>
          </div>
        </a>
      </div>
    <% } %>
  </ul>
</div>
