<% if(page.banner_img) { %>
<div class="image-wrapper">
    <img src="<%= page.banner_img %>" data-src="<%=page.banner_img %>" srcset="<%= page.banner_img_set || theme.lazyload.loadingImg || "data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20300%20300'%3E%3C/svg%3E" %>"class="image lozad">
</div>
<% } %>
<article class="card card-content">
  <header>
    <h1 class="post-title">
      <%- page.title %>
    </h1>
  </header>
  <div class="post-meta post-show-meta">
    <time datetime="<%= date_xml(page.date) _%>" style="display: flex; align-items: center;">
      <i class="iconfont icon-calendar" style="margin-right: 2px;"></i>
      <span><%= date(page.date) %></span>
    </time>
    <% if(page.categories.data.length) { %>
    <span class="dot"></span>
    <% for(const item of page.categories.data) { %>
    <a href="<%= item.path %>" class="post-meta-link"><%= item.name %></a>
    <% } %>
    <% } %>
  </div>
  </header>
  <div id="section" class="post-content">
    <%- page.content %>
  </div>
</article>
<%- partial('_partial/pagination',{ 
  prev_label: __("prev_post.title"), next_label:__("next_post.title"),
  prev_link: page.prev ? page.prev.path : '', next_link: page.next ? page.next.path : '',
  prev_title: page.prev ? page.prev.title : '', next_title: page.next ? page.next.title : ''
 })%>
<% if(theme.comment.enable && page.comment !== false) { %>
<div class="card card-content comment-card">
  <div class="comment-card-title">评论</div>
  <%- partial('_partial/plugins/comments/' + theme.comment.type) %>
</div>
<% } %>