<img class="author-img" src="<%- theme.author_img %>" />
<p class="author-name"><%- theme.author || config.author %></p>
<p class="author-description"><%- theme.author_description || config.description %></p>
<div class="author-message">
  <a class="author-posts-count" href="/archives" target="_blank" rel="nofollow noopener noreferrer">
    <span><%- site.posts.length %></span>
    <span><%- __("posts.title") %></span>
  </a>
  <a class="author-categories-count" href="/categories" target="_blank" rel="nofollow noopener noreferrer">
    <span><%- site.categories.length %></span>
    <span><%- __("categories.title") %></span>
  </a>
  <a class="author-tags-count" href="/tags" target="_blank" rel="nofollow noopener noreferrer">
    <span><%- site.tags.length %></span>
    <span><%- __("tags.title") %></span>
  </a>
</div>