<footer class="footer">
  <div class="footer-container">
    <div class="copyright">
      <div>
        <span id="copyYear">Copyright ©
          <% if(theme.footer.copyYear) { %>
          <%- theme.footer.copyYear %> -
          <% } %>
          <%- date(Date.now(), 'YYYY') %>
        </span>
        <a href="/" class="footer-link"><%- theme.title %> </a>
      </div>
    </div>

    <% if(theme.footer.showPoweredBy || theme.footer.showThemeName) { %>
    <div class="footer-dsc">
      <%# showPoweredBy %>
      <% if(theme.footer.showPoweredBy) { %>
      Powered by
      <a href="https://hexo.io/" class="footer-link" target="_blank" rel="nofollow noopener noreferrer">&nbsp;Hexo </a>
      <% } %>
      <% if(theme.footer.showPoweredBy && theme.footer.showThemeName) { %>
      <span>&nbsp;|&nbsp;</span>
      <% } %>
      <%# showThemeName %>
      <% if(theme.footer.showThemeName) { %>
      Theme -
      <a href="https://github.com/theme-kaze" class="footer-link" target="_blank"
        rel="nofollow noopener noreferrer">&nbsp;Kaze</a>
      <% } %>
    </div>
    <% } %>
    <%# Record Info %>
    <% if(theme.footer.RecordInfo) { %>
    <div class="BbeiAn-info">
      <a href="http://www.beian.miit.gov.cn/"><%= theme.footer.RecordInfo %> </a>
    </div>
    <% if(theme.footer.govRecordInfo) { %>
    <div class="BbeiAn-info">
      <span style="padding-left: 25px;background: url(/img/beian.png) no-repeat left center"></span>
      <a href="<%= theme.footer.govRecordUrl %> "><%= theme.footer.govRecordInfo %>
      </a>
      <br />
    </div>
    <% } %>
    <% } %>
</footer>