<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#fff" id="theme-color">
  <link rel="icon" href="<%= theme.logo_img %>">
  <title><%- theme.title %></title>
  <script>
    // control reverse button
    var reverseDarkList = {
      dark: 'light',
      light: 'dark'
    };
    var themeColor = {
      dark: '#1c1c1e',
      light: '#fff'
    }
    // get the data of css prefers-color-scheme
    var getCssMediaQuery = function() {
      return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
    };
    // reverse current darkmode setting function
    var reverseDarkModeSetting = function() {
      var setting = localStorage.getItem('user-color-scheme');
      if(reverseDarkList[setting]) {
        setting = reverseDarkList[setting];
      } else if(setting === null) {
        setting = reverseDarkList[getCssMediaQuery()];
      } else {
        return;
      }
      localStorage.setItem('user-color-scheme', setting);
      return setting;
    };
    // apply current darkmode setting
    var setDarkmode = function(mode) {
      var setting = mode || localStorage.getItem('user-color-scheme');
      if(setting === getCssMediaQuery()) {
        document.documentElement.removeAttribute('data-user-color-scheme');
        localStorage.removeItem('user-color-scheme');
        document.getElementById('theme-color').content = themeColor[setting];
      } else if(reverseDarkList[setting]) {
        document.documentElement.setAttribute('data-user-color-scheme', setting);
        document.getElementById('theme-color').content = themeColor[setting];
      } else {
        document.documentElement.removeAttribute('data-user-color-scheme');
        localStorage.removeItem('user-color-scheme');
        document.getElementById('theme-color').content = themeColor[getCssMediaQuery()];
      }
    };
    setDarkmode();
  </script>
  <script>
    function loadScript(url, cb) {
      var script = document.createElement('script');
      script.src = url;
      if (cb) script.onload = cb;
      script.async = true;
      document.body.appendChild(script);
    }
  </script>
  <%# preload %>
  <%- preload_css('//at.alicdn.com/t/font_1946621_f7g5jnuftcf.css') %>
  <%- preload_css('//at.alicdn.com/t/font_1952792_89b4ac4k4up.css') %>
  <% if(theme.fslightbox.enable) { %>
  <%- preload_js(theme.cdn.fslightbox) %>
  <% } %>
  <% if(theme.lazyload.enable) { %>
  <%- preload_js(theme.cdn.lozad) %>
  <% } %>
  <%# end preload %>
  <%# prefetch %>
  <% if(theme.latex.enable) { %>
  <% const engine = theme.latex.engine; %>
  <%- prefetch_js(theme.cdn[engine]) %>
  <% } %>
  <% if(theme.comment.enable) { %>
  <% const type = theme.comment.type; %>
  <%- prefetch_js(theme.cdn[type].js ? theme.cdn[type].js : theme.cdn[type]) %>
  <% } %>
  <%# end prefetch %>
  <%# main css %>
  <%- css('css/main.css') %>
  <%# default icon %>
  <%- css('//at.alicdn.com/t/font_1946621_f7g5jnuftcf.css') %>
  <%# social icon %>
  <%- css('//at.alicdn.com/t/font_1952792_89b4ac4k4up.css') %>
  <% if(config.prismjs) { %>
  <% if(config.prismjs.enable && !config.highlight.enable) { %>
  <% let prismTheme = theme.prism.theme || 'default' %>
  <% prismTheme = (prismTheme === 'default') ? 'prism' : ('prism-' + prismTheme) %>
  <% const themeUrl = theme.cdn.prism + prismTheme + '.min.css' %>
  <link href="<%= themeUrl %>" rel="stylesheet" data-prism="<%= prismTheme %>">
  <% if(config.prismjs.line_number && config.prismjs.preprocess) { %>
  <% const lineUrl = theme.cdn.prism + 'prism-line-numbers.min.css' %>
  <%- css(lineUrl) %>
  <% } %>
  <% } %>
  <% } else if(theme.prism.theme) { %>
  <% console.log('INFO: your Hexo version < 5.0.0 and could not use prismjs') %>
  <% } %>
</head>
