<nav class="navbar">
  <div class="navbar-logo">
    <a class="navbar-logo-main" href="<%= url_for(config.root) %>">
      <% if(theme.logo_img ) { %>
        <img 
          class="navbar-logo-img"
          width="32"
          height="32"
          src="<%- url_for(theme.logo_img) %>" 
          alt="blog logo">
      <% } %>
      <span class="navbar-logo-dsc"><%- theme.title || config.title %></span>
      </a>
  </div>
  <div class="navbar-menu">
    <% for(const menu in theme.menus) { %>
      <a 
        href="<%= url_for(theme.menus[menu]) %>" 
        class="navbar-menu-item">
        <% if(__(menu + '.title') === menu + '.title') { %>
          <%- menu %>
        <% } else { %>
          <%- __(menu + '.title') %>
        <% } %>
      </a>
    <% } %>
    <button 
      class="navbar-menu-item darknavbar navbar-menu-btn" 
      aria-label="Toggle dark mode"
      id="dark">
      <i class="iconfont icon-weather"></i>
    </button>
    <button 
      class="navbar-menu-item searchnavbar navbar-menu-btn" 
      aria-label="Toggle search"
      id="search">
      <!-- <i 
        class="iconfont icon-search" 
        style="font-size: 1.2rem; font-weight: 400;">
      </i> -->
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img"
        class="iconify iconify--ion" width="28" height="28" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512">
        <path fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="28"
          d="M256 80a176 176 0 1 0 176 176A176 176 0 0 0 256 80Z"></path>
        <path fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="28"
          d="M232 160a72 72 0 1 0 72 72a72 72 0 0 0-72-72Z"></path>
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="28"
          d="M283.64 283.64L336 336"></path>
      </svg>
    </button>
  </div>
</nav>