<nav class="navbar">
  <div class="navbar-logo">
    <a class="navbar-logo-main" href="<%= url_for(config.root) %>">
      <% if(theme.logo_img ) { %>
        <img 
          class="navbar-logo-img"
          width="32"
          height="32"
          src="<%- url_for(theme.logo_img) %>" 
          alt="blog logo">
      <% } %>
      <span class="navbar-logo-dsc"><%- theme.title || config.title %></span>
      </a>
  </div>
  <div class="navbar-menu">
    <% for(const menu in theme.menus) { %>
      <a 
        href="<%= url_for(theme.menus[menu]) %>" 
        class="navbar-menu-item">
        <% if(__(menu + '.title') === menu + '.title') { %>
          <%- menu %>
        <% } else { %>
          <%- __(menu + '.title') %>
        <% } %>
      </a>
    <% } %>
    <button 
      class="navbar-menu-item darknavbar navbar-menu-btn" 
      aria-label="Toggle dark mode"
      id="dark">
      <i class="iconfont icon-weather"></i>
    </button>
    <button 
      class="navbar-menu-item searchnavbar navbar-menu-btn" 
      aria-label="Toggle search"
      id="search">
      <i 
        class="iconfont icon-search" 
        style="font-size: 1.2rem; font-weight: 400;">
      </i>
    </button>
  </div>
</nav>