<nav class="navbar">
  <div class="navbar-logo">
    <span class="navbar-logo-main">
      <% if(theme.logo_img || theme.author_img ) { %>
      <img class="navbar-logo-img" src="<%- theme.logo_img %>">
      <% } %>
      <span class="navbar-logo-dsc"><%- theme.title || config.title %></span>
    </span>
  </div>
  <div class="navbar-menu">
    <% for(const menu in theme.menus) { %>
    <a href="<%= theme.menus[menu] %>" class="navbar-menu-item">
    <% if(__(menu + '.title') === menu + '.title') { %>
    <%- menu %>
    <% } else { %>
    <%- __(menu + '.title') %>
    <% } %>
    </a>
    <% } %>
    <a class="navbar-menu-item darknavbar" id="dark"><i class="iconfont icon-weather"></i></a>
    <a class="navbar-menu-item searchnavbar" id="search"><i class="iconfont icon-search" style="font-size: 1.2rem; font-weight: 400;"></i></a>
  </div>
</nav>