<% if(theme.comment.valine.appId && theme.comment.valine.appKey) { %>
  <div id="vcomments"></div>
  
  <script>
    loadScript("<%= theme.cdn.valine %>");
    var oldLoadVa = window.onload;
    window.onload = function () {
      oldLoadVa && oldLoadVa();
      new Valine({
        el: '#vcomments',
        appId: '<%= theme.comment.valine.appId %>',
        appKey: '<%= theme.comment.valine.appKey %>',
        placeholder: '<%= theme.comment.valine.placeholder %>',
        path: <%= theme.comment.valine.path %>,
        avatar: '<%= theme.comment.valine.avatar %>',
        meta: <%- JSON.stringify(theme.comment.valine.meta || []) %>,
        pageSize: '<%= theme.comment.valine.pageSize %>',
        lang: '<%= theme.comment.valine.lang %>',
        visitor: '<%= theme.comment.valine.visitor %>',
        highlight: <%= theme.comment.valine.highlight %>,
        recordIP: <%= theme.comment.valine.recordIP %>,
        <% if(theme.comment.valine.serverURLs) { %>
        serverURLs: '<%= theme.comment.valine.serverURLs %>',
        <% } %>
        <% if(theme.comment.valine.emojiCDN) { %>
        emojiCDN: '<%= theme.comment.valine.emojiCDN %>',
        <% } %>
        <% if(theme.comment.valine.emojiMaps) { %>
        emojiMaps: '<%= theme.comment.valine.emojiMaps %>',
        <% } %>
        enableQQ: '<%= theme.comment.valine.enableQQ %>',
        requiredFields: <%- JSON.stringify(theme.comment.valine.requiredFields || []) %>,
      });
    };
  </script>
<% } %>