<% if(theme.comment.valine.appId && theme.comment.valine.appKey) { %>
  <div id="vcomments"></div>
  <%- js(theme.cdn.valine) %>
  <script>
    new Valine({
      el: '#vcomments',
      appId: <%= theme.comment.valine.appId %>,
      appKey: <%= theme.comment.valine.appKey %>,
      placeholder: <%= theme.comment.valine.appKey.placeholder %>,
      path: <%= theme.comment.valine.appKey.path %>,
      avatar: <%= theme.comment.valine.appKey.avatar %>,
      meta: <%= theme.comment.valine.appKey.meta %>,
      pageSize: <%= theme.comment.valine.appKey.pageSize %>,
      lang: <%= theme.comment.valine.appKey.lang %>,
      visitor: <%= theme.comment.valine.appKey.visitor %>,
      highlight: <%= theme.comment.valine.appKey.highlight %>,
      recordIP: <%= theme.comment.valine.appKey.recordIP %>,
      <% if(serverURLs) { %>
        serverURLs: <%= theme.comment.valine.appKey.serverURLs %>,
      <% } %>
      <% if(emojiCDN) { %>
        emojiCDN: <%= theme.comment.valine.appKey.emojiCDN %>,
      <% } %>
      <% if(emojiMaps) { %>
        emojiMaps: <%= theme.comment.valine.appKey.emojiMaps %>,
      <% } %>
      enableQQ: <%= theme.comment.valine.appKey.enableQQ %>,
      requiredFields: <%= theme.comment.valine.appKey.requiredFields %>,
    })
  </script>
<% } %>